/* variables */
h1 {
  color: #717171;
  font-size: 2rem;
  padding-bottom: 0.5rem;
  padding-left: 2rem;
  border-bottom: 1px solid #717171;
  margin-bottom: 0.5rem;
}
/* mixins */
.round-sm {
  border-radius: 10px;
  border: 1px solid #D996FF;
  width: 20px;
  height: 20px;
  margin: 1rem;
}
.round {
  border-radius: 20px;
  border: 1px solid #D996FF;
  width: 40px;
  height: 40px;
  margin: 1rem;
}
.round-lg {
  border-radius: 40px;
  border: 1px solid #D996FF;
  width: 80px;
  height: 80px;
  margin: 1rem;
}
/* nested rules & functions*/
.brick {
  background-color: #FFC869;
  border: 1px solid #FFC869;
  width: 20vw;
  height: 15vh;
}
.brick:hover {
  background-color: #e89300;
}
.brick-container {
  border: 1px solid #69FF7D;
  padding: 1rem;
  margin: 1rem 0;
  display: inline-block;
}
.brick-container .brick {
  background-color: #fff7e8;
}
.brick-container .brick:hover {
  background-color: #ffc869;
}
